@charset "utf-8";
//  common_pc.css
//=================================================================== */
body,
td,
th,
input,
textarea {
	font-size: rem(14);
}

* {
	box-sizing: border-box;
}

#container {
	width: 100%;
	min-width: 1200px;
}

header,
footer,
#contents {
	@include clearfix;
	clear: both;
	position: relative;
}

.inner {
	width: 1200px;
	margin: auto;
	@include clearfix;
}

.inner_sm {
	width: 1100px;
	margin: auto;
	@include clearfix;
}

a {
	@include trans;
	&:hover {
		opacity: .7;
	}
}

img {
	max-width: 100%;
}
.break_pc {
	display: block;
}
.break_sp {
	display: none;
}
.sp {
	display: none !important;
}

.sp_link {
	pointer-events: none;
	&:hover {
		cursor: default;
		opacity: 1;
	}
}

//- header ==================================
header {
	
}


//- footer ==================================
footer {
	
}


//- contents ==================================
.contents {
	
}
.top_area {
	position: relative;
	height: 340px;
	p {
		position: absolute;
		left: 22%;
		top: 0;
		bottom: 0;
		margin: auto;
	}
}

//- btn_default ==================================
.btn_default {
	
}

/* ======================= Custom Radio, CheckBox, Input file =============================*/
.group_form {
	input[type="radio"] {
		display: none!important;
		&+ label span {
			background-color: #fff;
			border: solid 1px #cacaca;
			box-shadow: 0px 0px 0px 1px transparent;
			display: inline-block;
			width: 16px;
			height: 16px;
			margin: -2px 12px 0 0;
			vertical-align: middle;
			cursor: pointer;
			-moz-border-radius: 50%;
			border-radius: 50%;
			padding: 0;
			cursor: pointer;
		}
		&+ label.error span {
			background: #ff9999;
		}
		&:checked + label span {
			background-color: #1d1d1d;
			border: solid 4px #fff;
			box-shadow: 0px 0px 0px 1px #cacaca;
			width: 14px;
			height: 14px;
			margin: -2px 13px 0 1px;
		}
	}

	input[type="checkbox"] {
		&:not(:checked), &:checked {
			position: absolute;
			left: -9999px;
		}
		&:not(:checked) + label, &:checked + label {
			position: relative;
			padding-left: 25px;
			cursor: pointer;
		}
		&:not(:checked) + label:before, &:checked + label:before {
			content: '';
			position: absolute;
			left: 0;
			top: 5px;
			width: 12px;
			height: 12px;
			border: 1px solid #c8c8c8;
			/*background: #2c98fd;
			border-radius: 3px;*/
		}
		&:not(:checked) + label:after, &:checked + label:after {
			content: '';
			position: absolute;
			top: 8px;
			left: 2px;
			line-height: 0.8;
			transition: all .2s;
		}
		&:not(:checked) + label:after {
			opacity: 0;
			transform: scale(0);
		}
		&:checked + label:after {
			opacity: 1;
			transform: scale(1);
		}
		&:disabled:not(:checked) + label:before,
		&:disabled:checked + label:before {
			box-shadow: none;
			border-color: #bbb;
			background-color: #ddd;
		}
		&:disabled:checked + label:after {
			color: #999;
		}
		&:disabled + label {
			color: #aaa;
		}
	}
	.inputfile {
		width: 0.1px;
		height: 0.1px;
		opacity: 0;
		overflow: hidden;
		position: absolute;
		z-index: -1;
	}
	.inputfile + label {
		color: #000;
		background-color: #f1f1f1 ;
		border: solid 1px #c8c8c8;
		display: inline-block;
		cursor: pointer;
		border-radius: 5px;
		padding: 3px 13px;
		margin-right: 17px;
	}
	.inputfile:focus + label, .inputfile + label:hover {
		opacity: 0.8;
	}
	.inputfile + label * {
		pointer-events: none;
	}
}

/* ======================= /. Custom Radio, CheckBox =============================*/
.tel {
	pointer-events: none;
}