@charset "utf-8";
//	common_sp.css
//=================================================================== */

body,
td,
th,
input,
textarea {
	font-size: rem2(28);
}

* {
	box-sizing: border-box;
}

#container {
	width: 100%;
	min-width: 100%;
}

header,
footer,
#contents {
	clear: both;
	width: 100%;
	min-width: 100%;
}


.inner {
	padding: 0 15px;
	position: relative;
	clear: both;
	@include clearfix;
}

img {
	max-width: 100%;
}
.break_pc {
	display: none;
}
.break_sp {
	display: block;
}
.pc {
	display: none !important;
}

.menu {
	/*float: right;*/
	margin: 25px 0px 0 0;
	position: fixed;
	top: 0;
	left: 15px;
	z-index: 9999;
	>p {
		font-family: 'Sorts Mill Goudy', serif;
		float: left;
		font-size: rem(13);
		margin: 0 6px 0 0;
	}
	.menu_trigger {
		display: inline-block;
		transition: all .45s;
		position: relative;
		width: 22px;
		height: 10px;
		left: 0;
		top: 1px;
		text-decoration: none!important;
		& span {
			display: inline-block;
			transition: all .45s;
			position: absolute;
			left: 0;
			height: 2px;
			background-color: #ddd;
			right: 0;
			border-radius: 5px;
			&:nth-of-type(1) {
				animation: menu-bar01 .65s forwards;
				top: 0;
			}
			&:nth-of-type(2) {
				transition: all .25s .05s;
				opacity: 1;
				top: 11px;
			}
			&:nth-of-type(3) {
				animation: menu-bar02 .65s forwards;
				bottom: 0;
			}
		}
	}
	&.active .menu_trigger span {
		background: $col_black;
	}
	&.active .menu_trigger span:nth-of-type(1) {
		animation: active-menu-bar01 .65s forwards;
	}
	.menu_trigger span:nth-of-type(2) {
		visibility: hidden!important;
	}
	&.active .menu_trigger span:nth-of-type(3) {
		animation: active-menu-bar03 .65s forwards;
	}
	@keyframes menu-bar01 {
		0% {
			transform: translateY(8px) rotate(45deg);
		}
		50% {
			transform: translateY(8px) rotate(0);
		}
		100% {
			transform: translateY(0) rotate(0);
		}
	}
	@keyframes menu-bar02 {
		0% {
			transform: translateY(-7px) rotate(-45deg);
		}
		50% {
			transform: translateY(-7px) rotate(0);
		}
		100% {
			transform: translateY(0) rotate(0);
		}
	}
	@keyframes active-menu-bar01 {
		0% {
			transform: translateY(0) rotate(0);
		}
		50% {
			transform: translateY(4px) rotate(0);
		}
		100% {
			transform: translateY(4px) rotate(45deg);
		}
	}
	@keyframes active-menu-bar03 {
		0% {
			transform: translateY(0) rotate(0);
		}
		50% {
			transform: translateY(-4px) rotate(0);
		}
		100% {
			transform: translateY(-4px) rotate(-45deg);
		}
	}
	&.black .menu_trigger span {
		background-color: $col_black;
	}
}

//- header ==================================
header {
	
}

//- footer ==================================
footer {
	
}


//- contents ==================================
#contents {

}

//- top_area ==================================
.top_area{
	
}
//- btn_default ==================================
.btn_default {
	
}

/* ======================= Custom Radio, CheckBox, Input file =============================*/
.group_form {
  input[type="radio"] {
    display: none!important;
    &+ label span {
      background-color: #fff;
      border: solid 1px #cacaca;
      box-shadow: 0px 0px 0px 1px transparent;
      display: inline-block;
      width: 16px;
      height: 16px;
      margin: -2px 12px 0 0;
      vertical-align: middle;
      cursor: pointer;
      -moz-border-radius: 50%;
      border-radius: 50%;
      padding: 0;
      cursor: pointer;
    }
    &+ label.error span {
      background: #ff9999;
    }
    &:checked + label span {
      background-color: #1d1d1d;
      border: solid 4px #fff;
      box-shadow: 0px 0px 0px 1px #cacaca;
      width: 14px;
      height: 14px;
      margin: -2px 13px 0 1px;
    }
  }

  input[type="checkbox"] {
    &:not(:checked), &:checked {
      position: absolute;
      left: -9999px;
    }
    &:not(:checked) + label, &:checked + label {
      position: relative;
      padding-left: 25px;
      cursor: pointer;
      padding-top: 1px;
    }
    &:not(:checked) + label:before, &:checked + label:before {
      content: '';
      position: absolute;
      left: 0;
      top: 1px;
      width: 18px;
      height: 18px;
      border: 1px solid #c8c8c8;
      /*background: #2c98fd;
      border-radius: 3px;*/
    }
    &:not(:checked) + label:after, &:checked + label:after {
      content: '';
      position: absolute;
      top: 4px;
      left: 2px;
      line-height: 0.8;
      transition: all .2s;
      height: 13px;
    }
    &:not(:checked) + label:after {
      opacity: 0;
      transform: scale(0);
    }
    &:checked + label:after {
      opacity: 1;
      transform: scale(1);
    }
    &:disabled:not(:checked) + label:before,
    &:disabled:checked + label:before {
      box-shadow: none;
      border-color: #bbb;
      background-color: #ddd;
    }
    &:disabled:checked + label:after {
      color: #999;
    }
    &:disabled + label {
      color: #aaa;
    }
  }
  .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
  .inputfile + label {
    color: #000;
    background-color: #f1f1f1 ;
    border: solid 1px #c8c8c8;
    display: inline-block;
    cursor: pointer;
    border-radius: 5px;
    padding: 3px 13px;
    margin-right: 17px;
  }
  .inputfile:focus + label, .inputfile + label:hover {
    opacity: 0.8;
  }
  .inputfile + label * {
    pointer-events: none;
  }
}
/* ======================= /. Custom Radio, CheckBox =============================*/